<div class="container h-75">
  <div class="col-lg-12 mt-5 mb-5">
    <h4 class="heading-title">
      <fa-icon [icon]="faPlay" class="mr-3"></fa-icon>
      Notas
    </h4>
  </div>
  <div class="col-lg-12 d-flex justify-content-center">
    <h4>Aluno: João Pedro</h4>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-hover h-100">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Disciplina</th>
          <th scope="col">Av1</th>
          <th scope="col">Av2</th>
          <th scope="col">Av3</th>
          <th scope="col">Média Final</th>
          <th scope="col">Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Desenvolvimento Web</td>
          <td>7.5</td>
          <td>8.0</td>
          <td>9.0</td>
          <td>8.5</td>
          <td>
            <button class="btn btn-outline-dark" routerLink="editar-nota">Editar</button>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Circuitos Digitais</td>
          <td>7.5</td>
          <td>8.0</td>
          <td>9.0</td>
          <td>8.5</td>
          <td>
            <button class="btn btn-outline-dark" routerLink="editar-nota">Editar</button>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Análise e Projeto de Sistemas</td>
          <td>7.5</td>
          <td>8.0</td>
          <td>9.0</td>
          <td>8.5</td>
          <td>
            <button class="btn btn-outline-dark" routerLink="editar-nota">Editar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>