.login-box {
  width: 480px;
}

.forgot-password {
  font-size: 12px;
  cursor: pointer;
}

.forgot-password:hover {
  text-decoration: underline;
}

@media(max-width: 576px) {
  .login-box {
    width: 280px;
  }
}